.companyYear {
            position: absolute;
            left: 2%;
            top: 95%;
            font-size: 15px;
            color: white;
        }
        
        .companyInfo {
            position: absolute;
            left: 80%;
            top: 95%;
            font-size: 15px;
            color: white;
        }
        
        .copmanyImg {
            position: absolute;
            left: 2%;
            top: 1%;
        }
        
        .copmany {
            position: absolute;
            left: 40%;
            top: 23%;
            color: white;
            font-size: 50px;
        }
        
        #centerLayer {
            position: absolute;
            /* Абсолютное позиционирование */
            width: 500px;
            /* Ширина слоя в пикселах */
            left: 43%;
            /* Положение слоя от левого края */
            top: 50%;
            /* Положение слоя от верхнего края */
            margin-left: -150px;
            /* Отступ слева */
            margin-top: -100px;
            /* Отступ сверху */
            overflow: auto;
            /* Добавление полосы прокрутки */
        }
        
        h1{
            color: white;
        }